/005_EDA_bivariate_analyst.txt
/corr_price.csv
/desktop.ini
/heatmap.csv
/Laptop cleaning.xlsx
/laptopData.csv
/laptop_cleaning.csv
/laptop_cleaning_completed.csv
/laptop_data_cleaning.csv
/postgres.session.sql
/weight is null.csv